<body>
  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="#">
              <!-- <img src="{{KUImageUrl}}" class="img-responsive" > -->
            </a>
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Login ID : b5610545714</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li role="presentation" [routerLink]="['Enroll']"><a [routerLink]="['Enroll']">Subject</a></li>
                    <li role="presentation"><a [routerLink]="['EnrolledTable']">EnrolledTable</a></li>
                    <li class="page-scroll">
                        <a >Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
  <router-outlet></router-outlet>

  <!-- Footer -->
   <footer class="text-center">
       <div class="footer-above">
           <div class="container">
               <div class="row">
                   <div class="footer-col col-md-4">
                       <h3>Location</h3>
                       <p>50 Phahonyothin Road, Lat Yao Subdistrict,<br> Jatujak District, Bangkok 10900</p>
                   </div>
                   <div class="footer-col col-md-4">
                       <h3>Contract Infomation</h3>
                       <ul class="list-inline">
                           <li>
                               <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                           </li>
                           <li>
                               <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                           </li>
                           <li>
                               <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                           </li>
                           <li>
                               <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                           </li>
                           <li>
                               <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                           </li>
                       </ul>
                   </div>
                   <div class="footer-col col-md-4">
                       <h3>Kasetsart University Registration System</h3>
                       <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://www.ku.ac.th">Kasetsart wab</a>.</p>
                   </div>
               </div>
           </div>
       </div>
       <div class="footer-below">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12">
                       Copyright &copy; Kasetsart University Web 2016
                   </div>
               </div>
           </div>
       </div>
   </footer>


</body>
