<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class = "enrolled-table">
    <img src="{{KUImageUrl}}"  alt="Responsive image">
    <h1>Enrolled Table</h1>
    <h2>ตารางลงทะเบียน</h2>
    <table class="table table-hover table-striped">
      <thead><td>Course</td><td>Course name</td><td>credit type</td><td>Credit</td><td>Drop</td></thead>
      <tr *ngFor="let sub of enrollList">
        <td>{{sub.id}}</td>
        <td>{{sub.name.en}}{{sub.name.th}}</td>
        <td>{{sub.credit.total}}{{result}}</td>
        <td>3</td>
        <td><button type="button" class="btn btn-danger" (click)="drop(sub)">Drop</button></td>
      </tr>
    </table>

  </div>
  </div>
  <a class="btn btn-default" href="#" role="button" (click)="goBack()">Back</a>
</div>
