
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class = "info">
    <h1>{{detail.id}}</h1>
    <h2>{{detail.name.en}}</h2>
    <h4>{{detail.name.th}}</h4>
    <h3>Information</h3>
    <p>{{detail.description.en}}</p>
    <p>{{detail.description.th}}</p>

    <h3> Section </h3>
    <table class="table table-hover table-striped">
      <thead><td>Section</td><td>Type</td><td>Instructors</td><td>Credit</td><td>Credit/Audit</td><td>Enrolled</td></thead>
      <tr>
        <td>450</td><td>Lecture</td>
        <td>Paruj Ratanaworabhan</td>
        <td>{{detail.credit.total}}</td>
        <td>
          <select class="form-control">
            <option>Credit</option>
            <option>Audit</option>
          </select>
        </td>
        <td> 5/30 </td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Enroll</button>
          <!-- <input class="btn btn-default" type="submit" value="Enrolled" (click)="addEnrolled(detail)"> -->
        </td>
        <tr>
          <td>451</td><td>Lecture</td>
          <td>Jittat Fakcharoenphol</td>
          <td>{{detail.credit.total}}</td>
          <td>
            <select class="form-control">
              <option>Credit</option>
              <option>Audit</option>
            </select>
          </td>
          <td> 5/30 </td>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Enroll</button>
            <!-- <input class="btn btn-default" type="submit" value="Enrolled" (click)="addEnrolled(detail)"> -->
          </td>

      </tr>
    </table>
  </div>


  <!-- Large modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="gridSystemModalLabel">Comfirm your registration</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-striped">
          <thead><td>Subject</td><td>Section</td><td>Type</td><td>Instructors</td><td>Credit</td><td>Enrolled</td></thead>
          <tr>
            <td>
              {{detail.name.en}}
            <!-- <input class="btn btn-default" type="submit" value="Enrolled" (click)="addEnrolled(detail)"> -->
            </td>
            <td>450</td><td>Lecture</td>
            <td>Paruj Ratanaworabhan</td>
            <td>{{detail.credit.total}}</td>
            <td> 5/30 </td>
            <td>
              <!-- <input class="btn btn-default" type="submit" value="Enrolled" (click)="addEnrolled(detail)"> -->
            </td>
          </tr>
        </table>
        <h4>JSON Code</h4>
        <textarea class="form-control" rows="3">{{getJson(detail)}}</textarea>

      </div>
      <div class="modal-footer">
        <input class="btn btn-default" data-dismiss="modal" type="submit" value="Comfirm" (click)="addEnrolled(detail)">
      </div>
    </div>
  </div>
</div>
  </div>
  <a class="btn btn-default" href="#" role="button" (click)="goBack()">Back</a>
</div>
